

.container-fluid{
    background-color: rgb(127, 194, 136);
   
    padding-top: 30px;
    padding-left: 100px;
   
    
}


footer{
    background-color:rgb(127, 194, 136);
    position:inherit;
    color: aliceblue;
    bottom: 0%;
    
    text-align: center;
    height: 60px;
margin-top: 330px;
}







/*make the nav and footer responsive for  mobile ,tab,pc */
/* we can change  the style depends on the user or client screen width*/
body{
    background-color: rgb(245, 245, 245);
    height:375px;
}
@media only screen and (max-width: 680px) {
    body{
      background-color: red;
    }
  }

  @media only screen and (max-width: 480px) {
    .container-fluid{

width: 1200px;

    }
   body{
      background-color: rgb(55, 0, 255);
     
     
    }
  }

  